<section class="wrapper">
  <div class="top">
    <img class="background" src="../assets/1.jpg" alt="" srcset="">
    <img class="foreground" src="../assets/trees.png" alt="" srcset="">
    <h1 class="title title3 slide">I am </h1>
    <h1 class="title title2 slide">Yan Blaire</h1>
    <h1 class="title title1 slide">supersaiyan</h1>
    <app-nav-bar></app-nav-bar>
  </div>
  <section class="section2">
    <img class="section2Foreground" src="../assets/section2.png" alt="">
    <div class="section2Content">
      <h2>About me</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minus facilis dolores assumenda quibusdam eligendi repudiandae ullam numquam nesciunt tempora distinctio odit suscipit necessitatibus sapiente, vero, culpa dolore, consectetur tempore rem incidunt. Natus sint vel deserunt fugit eum ullam quibusdam ut illum enim, maxime consequuntur ab. Quae qui illum id ex rerum dolore reprehenderit adipisci quibusdam at temporibus placeat corrupti dolor nobis facilis nemo, vel obcaecati cupiditate, fugit autem consequatur soluta repudiandae praesentium. Facere, porro atque excepturi nostrum quaerat obcaecati. Alias repellat incidunt, dolores in error accusamus nulla voluptatem assumenda possimus deserunt mollitia velit eveniet, doloribus itaque quos illum quis!</p>
      <img src="../assets/me.png" alt="">
    </div>
  </section>
  <section class="section3">
    <app-titles></app-titles>
    
  </section>
</section>
