<section>
    <div class="topLine">

    </div>
    <div class="middle">
        <div class="part one">
            <h1>- I -</h1>
            <div class="container animation" style="--clr:red">
                <img class="image" src="../../assets/titleImages/1.jpeg" >
                <div class="overlay">
                    <div class="text">Web Designer</div>
                </div>
                <i class="effect"></i>
            </div>
        </div>
        <div class="part two">
            <div class="container1 animation" style="--clr:yellow">
                <img class="image" src="../../assets/titleImages/2.jpg" >
                <div class="overlay1">
                    <div class="text">Front-End Web Developer</div>
                </div>
                <i class="effect"></i>
            </div>
            <h1>- Am -</h1>
        </div>
        <div class="part three">
            <h1>- A -</h1>
            <div class="container2 animation" style="--clr:skyblue">
                <img class="image" src="../../assets/titleImages/3.jpeg" >
                <div class="overlay2">
                    <div class="text">Swift Developer</div>
                </div>
                <i class="effect"></i>
            </div>
        </div>
        <div class="part four">
            <div class="container3 animation" style="--clr:green">
                <img class="image" src="../../assets/titleImages/4.jpg" >
                <div class="overlay3">
                    <div class="text">Artist</div>
                </div>
                <i class="effect"></i>
            </div>
            <p>Hover on Images</p>
        </div>
    </div>
    <div class="bottomLine">

    </div>
</section>

